/* index.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #666666;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
}

form div {
    margin-bottom: 10px;
}
